<section class="footer">
    <div class="alinhamento">
        <div class="lugarfooter">
            <div class="titulos">
                Sobre nós
                <div class="conteudos">
                    <a href="#">Missão e visão</a>
                    <a href="#">Políticas de venda</a>
                    <a href="#">Políticas de troca</a>
                    <a href="#">Assistência Técnica</a>
                    <a href="#">Institucional</a>
                    <a href="#">SAC</a>
                </div>
            </div>
            <div class="titulos">
                Contato
                <div class="conteudos">
                    <a href="#">gamemanialoja@email.com</a>
                    <a href="#">(11)xxxx-xxxx</a>
                    <a href="#">(11)xxxx-xxxx</a>
                    <hr>
                    Horário de atendimento: <br>
                    de seg a sex de 09h às 17h.
                </div>
            </div>
            <div class="titulos">
                Formas de Pagamento
                <div class="conteudos">
                    <img src="assets/img/cartoes.svg">
                    <div class="titulos2">
                        Siga-nos em nossas redes sociais: <br>
                        <div class="icones-redes-sociais">
                            <a href="#"><img src="assets/img/icone face 1.svg"></a>
                            <a href="#"><img src="assets/img/icone insta 1.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="titulos3">
                Cadastre-se em nossa newsletter!
                <form>
                    <input id="cadastro" type="email" placeholder="E-mail">
                    <button (click)="inscrever()">enviar</button>

                </form>
            </div>
        </div>
    </div>
</section>