
<header>
    <div class="alinhamento cabeçalho">
        <a href="index.html"><img src="assets/img/logo.svg" alt="Logo da loja Game Mania"></a>
    </div>
</header>

<div class="barra">
    <div class="alinhamento barraDeBusca">
        <div class="icons">
            <a href="login"> <img src="assets/img/usuario.svg" class="usuario"> </a>
            <form action="">
                <div class="barraDeBusca">
                    <input id="buscar" type="text" placeholder="Buscar">
                    <button (click)="buscarItens()"><img src="assets/img/Lupa.svg"></button>
                </div>
            </form>
            <a href="" onclick="mostrarMenu(event)" id="hamburguer" class="hamburguer">
                <img src="assets/img/menu.svg" alt="icone do menu hamburguer">
            </a>

            <a href=""> <img src="assets/img/carrinho.svg" class="carrinho"> </a>
        </div>
    </div>
</div>

<section class="menu">
    <div class="alinhamento">
        <nav id="nav" class="nav">
            <a href="">Lançamentos</a>
            <a href="">Produtos</a>
            <a href="">Mais vendidos</a>
            <a href="">Marcas</a>
            <a href="promocoes" class="promoções">Promoções</a>
            <a href="">Contato</a>
        </nav>

    </div>
</section>