<section id="carrossel" class="fundo-banner banner-1">

    <a href="#" class="click-banner">
        <div class="alinhamento">

            <div class="banner"></div>

        </div>
    </a>
</section>

<section class="marcas">
    <div class="alinhamento">
        <div class="container d-flex justify-content-around align-items-center
            posicionamento-marcas">
            <a href=""><img src="assets/img/apple.svg" alt="Apple"> </a>
            <a href=""><img src="assets/img/dell.svg" alt="Dell"></a>
            <a href=""><img src="assets/img/nintendo.svg" alt="Nintendo"></a>
            <a href=""><img src="assets/img/ps5.svg" alt="PlayStation 5"> </a>
            <a href=""><img src="assets/img/sony.svg" alt="Sony"></a>
            <a href=""><img src="assets/img/xbox.svg" alt="Xbox"></a>
        </div>
    </div>
</section>
<div class="divisao"></div>
<section class="conteudo">
    <div class="alinhamento">
        <div class="produtos">
            <a class="card1" href=""> <img src="assets/img/card1.svg" alt="categoria eletrônicos"></a>
            <a class="card2" href=""> <img src="assets/img/card2.svg" alt="categoria jogos"></a>
            <a class="card3" href=""> <img src="assets/img/card3.svg" alt="categoria capinhas de celular"></a>
            <a class="card4" href=""> <img src="assets/img/card4.svg" alt="categoria pc gamer"></a>
        </div>
    </div>

</section>

<div class="divisao"></div>